@page "/registration"
@using System.Diagnostics
@using AXProductApp.Interfaces
@using AXProductApp.Models
@using AXProductApp.Route
@inject IAuthService AuthService
@inject NavigationManager Navigation

<style>
    body {
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: 'Trebuchet MS', sans-serif;
        background-image: linear-gradient(-135deg, #F7F7F8 0%,#3795BD 50%, #4E31AA 75%, #3A1078 100%);
    }
</style>

<EditForm Model="@userRegister" OnValidSubmit="Submit" class="section__register">
    <DataAnnotationsValidator/>
    <h1 class="title">Register</h1>
    <div class="section__register-box">
        <div class="form-group">
            <label class="label-name">First Name</label>
            <div class="input-box">
                <input class="form-control" @bind-value="userRegister.FirstName" placeholder="Enter First Name">
                <h5 class="error-messange">
                    <ValidationMessage For="@(() => userRegister.FirstName)"></ValidationMessage>
                </h5>
            </div>
        </div>
        <div class="form-group">
            <label class="label-name">Last Name</label>
            <div class="input-box">
                <input class="form-control" @bind-value="userRegister.LastName" placeholder="Enter Last Name">
                <h5 class="error-messange">
                    <ValidationMessage For="@(() => userRegister.LastName)"></ValidationMessage>
                </h5>
            </div>
        </div>
        <div class="form-group">
            <label class="label-name">Email</label>
            <div class="input-box">
                <input class="form-control" @bind-value="userRegister.Email" type="email" placeholder="Enter Email Adress">
                <h5 class="error-messange">
                    <ValidationMessage For="@(() => userRegister.Email)"></ValidationMessage>
                </h5>
            </div>
        </div>
        <div class="form-group">
            <label class="label-name">Password</label>
            <div class="input-box">
                <input class="form-control" @bind-value="userRegister.Password" type="password" placeholder="Password">
                <h5 class="error-messange">
                    <ValidationMessage For="@(() => userRegister.Password)"></ValidationMessage>
                </h5>
            </div>
        </div>
    </div>
    <div class="mt-2 text-end">
        <NavLink class="nav-link" href="login">
            <span class="back-to-login"> <span class="arrow-to-login"> ← </span> Back to login </span>
        </NavLink>
    </div>
    <div class="text-center mt-2">
        <button class="btn btn-primary" type="submit">
            <span class="@_spinnerClass" role="status" aria-hidden="true"></span>
            Sign Up
        </button>
    </div>
</EditForm>

@code {
    readonly UserRegisterModel userRegister = new();
    private string _spinnerClass = "";
    private bool _isSubmitting;

    private async Task Submit()
    {
        if (_isSubmitting)
            return;

        _isSubmitting = true;
        _spinnerClass = "spinner-border spinner-border-sm";

        var isSucess = await AuthService.TryRegisterUser(userRegister);
        if (isSucess)
        {
            await Application.Current.MainPage.DisplayAlert("Congratulations", "Youre accaount have been sucesfully added", "Das is gut");
            Navigation.NavigateTo(Routes.Login);
        }
        else
        {
            await Application.Current.MainPage.DisplayAlert("Oops", "Youre account was not registered ", "Ok");
        }

        _spinnerClass = "";
        _isSubmitting = false;
        Debug.WriteLine(userRegister.Email);
    }

}